<div class='row margin-top-40'>
	<div class='cl-sm-6 cl-md-6 pull-left'>
		<div class='row'>
			<div class='cl-md-12 margin-bot-40'>
				<%= link_to 'DEALER',"#",:class=>'button button-primary button-rounded button-jumbo' %>
			</div>
			<div class='cl-md-12'>
				<%= link_to "3","#",:class=>'button button-primary button-box button-large' %>
				<%= link_to "4","#",:class=>'button button-primary button-box button-large' %>
			</div>
		</div>
	</div>
	<div class='cl-sm-6 cl-md-6 pull-right'>
		<div class='row'>
			<div class='cl-md-12 margin-bot-40'>
				<%= link_to 'PLAYER',"#",:class=>'button button-royal button-rounded button-jumbo' %>
			</div>
			<div class='cl-md-12'>
				<%= link_to "3","#",:class=>'button button-royal button-box button-large' %>
				<%= link_to "4","#",:class=>'button button-royal button-box button-large' %>
			</div>
		</div>
	</div>
</div>
<div class="row margin-top-40">
	<div class="cl-sm-12 cl-md-12">
		<center>
			<%= link_to "Pick a Card","#",:class=>'button button-3d button-action button-pill' %>
			<%= link_to "SKip","#",:class=>'button button-3d button-pill button-cuation' %>
		</center>
	</div>
</div>
